.idea/.gitignore
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/django_homework.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dataSources/89752cf5-8f77-42b4-8762-58ccb26609fb.xml
.idea/dataSources/89752cf5-8f77-42b4-8762-58ccb26609fb/storage_v2/_src_/database/project1.OBh5xA.meta
.idea/dataSources/89752cf5-8f77-42b4-8762-58ccb26609fb/storage_v2/_src_/database/project1.OBh5xA/schema/information_schema.FNRwLQ.meta
.idea/dataSources/89752cf5-8f77-42b4-8762-58ccb26609fb/storage_v2/_src_/database/project1.OBh5xA/schema/pg_catalog.0S1ZNQ.meta
.idea/inspectionProfiles/profiles_settings.xml
