{% extends 'catalog/base.html' %}

{% block content %}
{% load mediapath %}

<ul class="nav justify-content-center">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'catalog:home' %}">Skystore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'blog_app:all_posts' %}">Все
                            записи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"href="{% url 'blog_app:create' %}">Добавить запись</a>
                    </li>
                    
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </nav>
</ul>

<h3 align="center">Продуктовая карта магазина</h3>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for card in object_list %}
            <div class="card" style="width: 18rem;">
                <img src="{% mediapath card.preview %}" class="card-img-top" alt="Превью">
                <div class="card-body">
                    <h5 class="card-title">{{ card.title }}</h5>
                    <p class="card-text">{{ card.content|truncatechars:30 }}</p>
                    <a href="{% url "blog_app:view" card.pk %}" class="btn btn-primary">Читать</a>
                    <a href="{% url 'blog_app:edit' card.pk %}" class="btn btn-primary">Изменить</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}