{% extends 'catalog/base.html' %}

{% block content %}
{% load mediapath %}

<ul class="nav justify-content-center">
    {% if user.is_authenticated %}
        <div style="display: grid; place-items: center;">
            <a class="nav-link" class="btn btn-success" href="{% url 'blog_app:create' %}">Добавить запись</a>
        </div>
    {% endif %}
</ul>

<h3 align="center">Здоровье в еде!</h3>
<div class="album">
    <div class="container text-center">
        <div class="row row row-cols-1">
            {% for card in object_list %}
            <div class="col md-3 mb-3">
                <div class="card" style="width: 20rem; height: 30rem;">
                    
                    {% if card.preview %}
                        <img src="{% mediapath card.preview %}" style="height: 250px; width: auto;" class="card-img-top"
                        alt="Превью">
                    {% else %}
                        <img src="../../../media/without_picture.jpg" style="height: 250px; width: auto;" class="card-img-top"
                        alt="Превью">
                    {% endif %}
                        
                    
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.content|truncatechars:60 }}</p>
                        
                    </div>
                    <div style="position: relative; bottom: 10px;">
                        
                        {% if user.is_authenticated %}
                            <a href="{% url 'blog_app:view' card.pk %}" class="btn btn-primary">Читать</a>
                            
                            {% if card.author|stringformat:"s" == user.email|stringformat:"s" %}
                                <a href="{% url 'blog_app:edit' card.pk %}"class="btn btn-primary">Изменить</a>
                                <a href="{% url 'blog_app:delete' card.pk %}"class="btn btn-danger">Удалить</a>
                            {% elif perms.blog_app.change_blog %}
                                {% if card.is_published %}
                                    <a href="{% url 'blog_app:change_publish_status' card.pk %}"class="btn btn-primary">Снять с публикации</a>
                                {% else %}
                                    <a href="{% url 'blog_app:change_publish_status' card.pk %}"class="btn btn-primary">Вернуть в публикацию</a>
                                {% endif %}
                            {% endif %}
                                
                            
                        {% else %}
                            <a href="{% url 'blog_app:view' card.pk %}" class="btn btn-primary">Читать</a>
                        {% endif %}
                            
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}