{% extends 'catalog/base_without_hat.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet"  type="text/css" href="{% static 'css/my_styles.css' %}">
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-12 md-4 mb-2">
        {% for f in form %}
        <div class="row">
            <div class="col" style="font-size: 6mm;"><label for="f.id_for_label">{{ f.label }}</label></div>
            <div class="col">{{ f }}</div>
        </div>
        {% endfor %}
            
        <div class="md-4 mb-4">
        {% if editing %}
            <button type="submit" class="btn btn-primary" enp>Изменить запись</button>
        {% else %}
            <button type="submit" class="btn btn-primary" enp>Добавить запись</button>
        {% endif %}
        </div>
    </div>
    </form>

    <!-- <div class="mb-5">
        <label for="exampleFormControlInput1" class="form-label">Название</label>
        <input class="form-control form-control-lg" type="text"
            placeholder="Название" aria-label=".form-control-lg example">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Описание</label>
        <textarea class="form-control" placeholder="Описание" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Выберите превью</label>
        <input class="form-control" type="file" id="formFile">
    </div> -->
</div>

{% endblock content %}
