{% extends 'catalog/base.html' %}

{% block content %}
<div align="center">
    <div class="m-4">
        <a href="{% url 'catalog:create_product' %}" type="button"
            class="btn btn-outline-success">Создать продукт</a>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.price }}
                        <h3>RUB</h3></h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    </ul>
                    <button class="btn btn-sm btn-outline-secondary"
                        type="button"><a
                            class="text-black"
                            href="{% url 'catalog:product' object.pk %}">Купить!</a>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary"
                        type="button"><a
                            class="text-black"
                            href="{% url 'catalog:update_product' object.pk %}">Изменить!</a>
                    </button>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
