{% extends 'catalog/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/my_styles.css' %}">

    <div class="text text-start">
        <a href="{% url 'catalog:home' %}" type="button" 
        class="btn btn-info mb-5" 
        style="position: relative; left: 5cm;">Назад</a>
    </div>
    <form action method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-2" style="position: relative; left: 3cm;">
        {% for f in form %}
            <div class="row col-6 text-start mb-3" style="position: relative; left: 9cm;">
                <div class="col" style="font-size: 6mm;"><label for="{{ f.id_for_label }}">{{ f.label.title }}</label></div>
                <div class="col">{{f}}</div>
            </div>
            <div class="form-error mb-2 text-center"  style="font-size: 6mm; color: brown;">{{ f.errors}}</div>
        {% endfor %}
            
        <div class="m-4">
        <div style="position: relative; left: 20cm; ;">
            {% if is_edit %}            
                <button href="{% url 'catalog:create_product' %}"
                class="btn btn-outline-success md-5" type="submit"
                style="width: 6cm; height: 2cm;">Именить</button>
            {% else %}
                <button href="{% url 'catalog:create_product' %}"
                class="btn btn-outline-success md-5" type="submit"
                style="width: 6cm; height: 2cm;">Создать</button>
            {% endif %}
        </div>
        </div>
    </form>
</div>
{% endblock content %}
