{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-6">
    <div class="text text-start">
        <a href="{% url 'catalog:home' %}" type="button" class="btn btn-info">Назад</a>
    </div>
</div>

    <div class="card-body px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        {% load mediapath %}
        {% load paragrapher %}
        <div class="card text-start">
            <div class="card-header text-start">
            {% if product_card.author == None %} 
                Автор: Неизвестен
            {% else %} 
                Автор: {{ product_card.author }}
            {% endif%}
            </div>

            <div class="card-body">
                <h5 class="card-title text-start">{{ product_card.title|title }}</h5>
                <p class="card-text text-start">
                    <br><img src="{% mediapath product_card.image %}"
                        width="auto" height="300" alt="Иллюстрация" class="border border-white">
                    {% autoescape off %}
                        <br>{{ product_card.description|paragrapher }}
                    {% endautoescape %}
                    <div class="col">
                        <h3 class="card-text"> Цена {{ product_card.price }} Р. </h3>
                    </div>
                    
                    {% if product_card.version_of_product %}
                    <div class="col">
                        <h3 class="card-text"> Версия {{ product_card.version_of_product }}. </h3>
                    </div>
                    {% endif %}
                </p>
            </div>
        </div>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top"></footer>
    </div>

    {% endblock %}
